.gallery{
    position: relative;
    align-items: center;
    height: 100vh;
    background: #0e0e0e;;
    overflow: hidden;
}


.gallery h1{
    text-align: center;
    font-family: MyFont;
    padding: 20px;
    font-size: 8rem;
    color: rgb(88, 88, 88);
}

.gallery-overlay {
  position: absolute;
  margin-inline: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}


.gallery-modal {
    width: 65%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallery-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

